/* Base styles */

@media screen and (min-width: 601px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1367px) {
    html {
        font-size: 13px;
    }
}

body {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color: #333;
    text-align: center;
    color: #222;
    background-image: url('../img/geometry.png');
    background-attachment: fixed;
    /* Background pattern from Subtle Patterns */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a,
a:active,
a:hover,
a:focus,
.underline,
.underline:hover,
.underline:focus,
.underline:active {
    color: #333;
    text-decoration: none;
    display: inline-block;
    border: none;
    box-shadow: none;
}

.underline:after {
    content: "";
    display: block;
    border: 2px solid $primary-color;
    /* -o-border-image: linear-gradient(to left, #fad0d9 0%, #fccdaf 50%, #fcddbc 100%);
    border-image: -webkit-gradient(linear, right top, left top, from(#fad0d9), color-stop(50%, #fccdaf), to(#fcddbc));
    border-image: linear-gradient(to left, #fad0d9 0%, #fccdaf 50%, #fcddbc 100%);
    border-image-slice: 1;*/
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    margin-top: -0.40em;
    z-index: -1;
    position: relative;
}

.underline:hover:after {
    transform: scaleX(0);
}

h1,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'fredoka_oneregular', sans-serif;
    font-weight: 400;
    margin-bottom: 0.5em;
    clear: both;
}

h1 {
    font-size: 3rem;
    margin-top: 4rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.3rem;
    max-width: 85ch;
    margin: 0 auto 2em;
    line-height: 1.5;
}

.portfolio-img {
    display: block;
    border-radius: 50%;
    position: relative;
    top: 0;
    width: 200px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
    @include border;
    &:hover {
        top: -15px;
    }
}

.container {
    max-width: 800px;
    flex: 1;
    padding: 5rem 2rem;
    scroll-behaviour: smooth;
}

.columns {
    margin-top: 1em;
}

.description {
    margin-top: 0.5em;
}

footer {
    border-top: 1px solid #dddddd;
    width: 100%;
    padding: 0.5em;
    background-color: $primary-color;
    .icon-container {
        margin: 0 0.5rem;
        display: inline-block;
    }
}
