@font-face {
    font-family: 'Baloo Chettan';
    src: url('../fonts/baloo-regular-webfont.woff2') format('woff2'),
         url('../fonts/baloo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Varela Round';
    src: url('../fonts/varelaround-regular-webfont.woff2') format('woff2'),
         url('../fonts/varelaround-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
