.portfolio-site-preview {
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.curl {
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  transition: all 0.5s ease;

  &.top-left {
    top: 0;
    left: 0;
    background: linear-gradient(135deg, transparent, transparent 45%, #1c1c1c 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%), url("../img/code.png") no-repeat top left;
  }

  &.top-left.jsmb {
    background: linear-gradient(135deg, transparent, transparent 45%, #1c1c1c 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%), url("../img/code-jsmb.png") no-repeat top left;
  }

  &.top-right {
    background: linear-gradient(225deg, transparent, transparent 45%, #1c1c1c 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%), url("../img/code.png") no-repeat top right;
    right: 0;
    top: 0;
  }

  &.bottom-left {
    background: linear-gradient(45deg, transparent, transparent 45%, #1c1c1c 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%), url("../img/code.png") no-repeat bottom left;
    bottom: 0;
    left: 0;
  }

  &.bottom-right {
    background: linear-gradient(315deg, transparent, transparent 45%, #1c1c1c 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%), url("../img/code-bottom-right.png") no-repeat bottom right;
    right: 0;
    bottom: 0;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 12.5%;
    bottom: 5.8%;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55%;
    box-shadow: 0 12px 15px rgba(0, 0, 0, .3);
    transform: skew(-10deg) rotate(-6deg);
  }

  &:after {
    left: auto;
    right: 5.8%;
    bottom: auto;
    top: 14.16%;
    transform: skew(-15deg) rotate(-84deg);
  }

  &:hover {
    width: 240px;
    height: 240px;
  }

  &:hover:after,
  &:hover:before {
    box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
  }
}