/* Variables */

$primary-color: #FF3342;
$border-color: #eee;
$box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06),
0 2px 5px 0 rgba(0, 0, 0, 0.2);

@mixin border() {
    border: 1px solid $border-color;
}
