/* contact form */

#submit {
    margin-right: 1rem;
}


@media (min-width: 768px) {
    button[type="submit"] {
        margin-right: 1rem;
    }
}

#validation-message-container {
    margin-top: 1rem;
}

.form-icon {
    margin-right: 0.5rem;
}
