/* Homepage Styles */

.cards {
    img {
        text-shadow: $text-shadow;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        max-width: 100%;
        height: auto;
        min-width: 600px;
    }
    &:hover img {
        -webkit-filter: none;
        filter: none;
    }
    position: relative;
    display: block;
    text-align: center;
    text-shadow: $text-shadow-darker;
}

@media (max-width: 650px) {
    .cards {
        padding: 0;
    }
}

.inner-card {
    padding: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.cards:hover {
    -webkit-filter: none;
    filter: none;
}
