// Variables
$primary: #006064;
$hover: darken($primary, 10%);
$background: #02121a;
$text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
$text-shadow-darker: 1px 1px 8px rgba(0, 0, 0, 0.8);

$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;

$header-height-phone: 53;
$header-height-tablet: 90;

// mixins
@mixin phone {
    @media (min-width: #{$xs-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$sm-width}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$md-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$lg-width}) {
        @content;
    }
}

@mixin background($img-url) {
    background: url($img-url) no-repeat 50%;
}


